<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <input type="checkbox" v-model="language" value="Java"/>Java<br/>
        <input type="checkbox" v-model="language" value="Html"/>Html<br/>
        <input type="checkbox" v-model="language" value="C#"/>C#<br/>
        <h1>
            <span v-text="language.join(',')"></span>
        </h1>
    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                language:[]
            },
            methods: {

            }
        })
    </script>
</body>

</html>